/.classpath
/.project
/.settings
.idea
*.iml
*.ipr
target
/pom.xml.releaseBackup
/pom.xml.tag
/release.properties
/pom.xml.next
node_modules
.yarn/cache
.yarn/install-state.gz
.pnp.cjs
.pnp.loader.mjs
/yarn.lock
.env